@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");

:root{
    --background:#000;
	--background-lighter:#303030;
	--color:#FAFAFA;
    --color-darker:#bababd;
	--font:"Roboto Mono", monospace;
}

body{
	margin:25px 25px;
	font-size:16px;
	background-color:var(--background);
	color:var(--color);
	font-family:var(--font);
}

a{
	text-decoration:none;
    color:currentColor;
}

p a{
    text-decoration:underline;
    color:var(--color-darker);
}
p a:hover{
    text-decoration:none;
}

button{
	width:100%;
	padding:8px 16px;
	color:var(--color);
	background-color: var(--background);
	border:none;
	font-family:var(--font);
	display:flex;
	align-items:center;
	justify-content:center;
	text-align:left;
	transition:0.3s;
}
button:hover{
	cursor:pointer;
	background-color:var(--background-lighter);
}
button.discord{
	background-color:#5539cc;
}
button.discord:hover{
	background-color:#4628cc;
}
button.twitter{
	background-color:#1DA1F2;
}
button.twitter:hover{
	background-color:#019af9;
}
button.github{
	background-color:#161b22;
}
button.github:hover{
	background-color:#21262d;
}
button.spotify{
    background-color:#1db954;
}
button.spotify:hover{
    background-color:#5eaf7a;
}

div.card, div.card-hoverable{
	margin:auto;
	max-width:450px;
	padding:10px 20px;
	margin-right:20px;
}
div.card{
	border:1px solid var(--background-lighter);
}
div.card-hoverable{
    transition:0.3s;
}
div.card-hoverable:hover{
    cursor:pointer;
    background-color:var(--background-lighter);
}

div.container{
	display:flex;
	align-items:center;
	justify-content:center;
	width:850px;
	margin:auto;
}